<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>o programiranju</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<h2>Neki od mojih projekata.</h2>
<h2>Fakebook Link</h2>
<p><a href="https://gist.github.com/Jskoric95/2390d0f1ea0af6ff98e206be2681c3e3">Fakebook</a></p>

<h2>Boogle Link</h2>
<p><a href="https://gist.github.com/Jskoric95/2e9477a6885f806dc1b599d4dbf849dc">Boogle</a></p>

<h2>Pretvarać Link</h2>
<p><a href="https://github.com/Jskoric95/PyLekcije/blob/main/pretvarac.py">Pretvarać km u milje</a></p>

<img src="/static/img/smartninja-logo.png">

</body>
</html>